<section class="movie-list">
  <h1>Каталог фильмов</h1>

  <div class="search-wrapper">
    <input
      type="search"
      [formControl]="search"
      placeholder="Поиск по названию"
    />
  </div>

  <div class="movie-grid">
    <div class="movie-item" *ngFor="let movie of movies">
      <article class="movie-card">
        <img [src]="movie.poster" [alt]="movie.title" class="movie-poster" />
      </article>
      <h2 class="movie-title">{{ movie.title }}</h2>
      <p class="movie-year">{{ movie.year }}</p>
    </div>
  </div>
</section>
